body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

:root {
    --tile-size: 32px;
}

* {
    box-sizing: border-box;
}

#game-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#board {
    display: grid;
    background-color: lightgray;
    border: 10px solid black;
}

#board div {
    width: var(--tile-size);
    height: var(--tile-size);
    border: 1px solid whitesmoke;

    /* text */
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-clicked {
    background-color: darkgray;
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: purple;
}

.x5 {
    color: saddlebrown;
}

.x6 {
    color: teal;
}

.x7 {
    color: gray;
}

.x8 {
    color: black;
}

#flag-button {
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: lightgray;
}